<!-- index.html -->
{% extends "layout.njk" %}

  {% block content %}
    <header id="site-header">
      <div class="gradient">

        <nav class="text-center">

          <div class="navbar-main">
            <ul class="page-scroll">
              <li><a class="medium" href="#feature">Profile</a></li>
              <li><a class="medium" href="#skills">Skills</a></li>
              <li><a class="medium" href="#timeline">Timeline</a></li>
              <li><a class="medium" href="#portfolio">Portfolio</a></li>
              <!-- <li><a class="medium" href="#testimonial">Testimonial</a></li> -->
              <li><a class="medium" href="#working-projects">Working Projects</a></li>
            </ul>
          </div>

          <div class="navbar-toggle">
            <div class="bar"></div>
          </div>

          <div class="navbar-mobile"></div>
        </nav>

        <div class="container text-center top-fix">
          <div class="row">
            <div class="twelve columns">

              <div class="title">
                <img src="/dist/images/avatar01.jpg" class="img-circle img-thumbnail" alt="profile image">
                <h1>Jobayer Arman</h1>
                <div class="typed-animation">
                  <h2 style="white-space:pre-line;">I <span class="role"></span> </h2>
                </div>
              </div>

              <div class="social">
                <a id="github" href="https://github.com/jobayerarman" target="_blank">
                  <i class="fa fa-2x fa-github"></i>
                  <div class="hoverLayer github"></div>
                </a>
                <a id="twitter" href="https://twitter.com/jobayerarman" target="_blank">
                  <i class="fa fa-2x fa-twitter"></i>
                  <div class="hoverLayer twitter"></div>
                </a>
                <a id="linkedIn" href="https://linkedin.com/pub/jobayer-arman/6b/635/67a" target="_blank">
                  <i class="fa fa-2x fa-linkedin"></i>
                  <div class="hoverLayer linkedIn"></div>
                </a>
                <a id="facebook" href="https://facebook.com/1319750070" target="_blank">
                  <i class="fa fa-2x fa-facebook"></i>
                  <div class="hoverLayer facebook"></div>
                </a>
              </div>

            </div> <!-- end of columns -->
          </div> <!-- end of row -->
        </div> <!-- end of container -->
      </div> <!-- end of gradient -->
      <div class="nav-down page-scroll">
        <a href="#feature"><img class="center-block" src="dist/images/down-arrow.png" alt=""></a>
      </div>
    </header>

    <section id="feature" class="text-center">
      <div class="container">
        <h2>What I Do</h2>
        <hr>
        <div class="row">
          <div class="one-third column">
            <img class="img-responsive" src="dist/images/responsive-website.png" height="525" width="700" alt="responsive-website">
            <h4>Responsive Website</h4>
            <p>I am Jobayer Arman and I am passionate about everything related to web development. I follow-up on the most recent changes in web development and I am very active in the open source environment. I love to experiment and try new things.</p>
          </div>
          <div class="one-third column page-scroll">
            <img class="img-responsive" src="dist/images/electronic-project.png" height="525" width="700" alt="Hardware Project">
            <h4>Hardware Project</h4>
            <p>I loved electronics since my childhood. Since my childhood I have tried to set chemistry between electronics and create new interactive hardware. I have been working with Arduino booard. I have a <a href="#working-projects">Home Automation project</a> that is capable of making ones daily life more easier.</p>
          </div>
          <div class="one-third column">
            <img class="img-responsive" src="dist/images/graphics-design2.png" height="525" width="700" alt="Web Design">
            <h4>Graphics Design</h4>
            <p>Photography, graphics is my hobby. I love creating new image merging multiple images or manipulating single one. I have worked as a image post-processor for about six months. I feel comfortable with Adobe Lightroom &amp; Photoshop.</p>
          </div>
        </div>
      </div>
    </section>

    <div class="quotes">
      <div class="container">
        <blockquote class="bigger text-center"><em>One machine can do the work of fifty ordinary men.<br>No machine can do the work of one extraordinary man</em> </blockquote>
        <p class="medium text-right">– Elbert Hubbard</p>
      </div>
    </div>

    <section id="skills">
      <div class="container">
        <h2 class="text-center">Skills</h2>
        <hr>
        <div class="row ">
          <div class="twelve columns">
            <h4 class="text-center">Programming / Graphics</h4>
            <div class="row">

              <div class="six columns">

                <h6>WordPress</h6>
                <div class="progress-wrap progress" data-progress-percent="40">
                  <div class="progress-bar progress"></div>
                </div>

                <h6>PHP</h6>
                <div class="progress-wrap progress" data-progress-percent="30">
                  <div class="progress-bar progress"></div>
                </div>

                <h6>HTML</h6>
                <div class="progress-wrap progress" data-progress-percent="70">
                  <div class="progress-bar progress"></div>
                </div>

                <h6>CSS</h6>
                <div class="progress-wrap progress" data-progress-percent="70">
                  <div class="progress-bar progress"></div>
                </div>

                <h6>jQuery</h6>
                <div class="progress-wrap progress" data-progress-percent="35">
                  <div class="progress-bar progress"></div>
                </div>

              </div>

              <div class="six columns">
                <h6>Java</h6>
                <div class="progress-wrap progress" data-progress-percent="25">
                  <div class="progress-bar progress"></div>
                </div>

                <h6>C / C++</h6>
                <div class="progress-wrap progress" data-progress-percent="30">
                  <div class="progress-bar progress"></div>
                </div>

                <h6>Photoshop</h6>
                <div class="progress-wrap progress" data-progress-percent="80">
                  <div class="progress-bar progress"></div>
                </div>

                <h6>Lightroom</h6>
                <div class="progress-wrap progress" data-progress-percent="85">
                  <div class="progress-bar progress"></div>
                </div>

                <h6>Illustrator</h6>
                <div class="progress-wrap progress" data-progress-percent="40">
                  <div class="progress-bar progress"></div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="twelve columns">
            <h4 class="text-center">Social</h4>
            <div class="row">

              <div class="six columns">
                <h6>Communication</h6>
                <div class="progress-wrap progress" data-progress-percent="40">
                  <div class="progress-bar progress"></div>
                </div>
                <h6>Organization</h6>
                <div class="progress-wrap progress" data-progress-percent="60">
                  <div class="progress-bar progress"></div>
                </div>
                <h6>Learning</h6>
                <div class="progress-wrap progress" data-progress-percent="80">
                  <div class="progress-bar progress"></div>
                </div>
                <h6>Teaching</h6>
                <div class="progress-wrap progress" data-progress-percent="75">
                  <div class="progress-bar progress"></div>
                </div>
              </div>

              <div class="six columns">
                <h6>Collaboration</h6>
                <div class="progress-wrap progress" data-progress-percent="50">
                  <div class="progress-bar progress"></div>
                </div>
                <h6>Management</h6>
                <div class="progress-wrap progress" data-progress-percent="40">
                  <div class="progress-bar progress"></div>
                </div>
                <h6>Planning</h6>
                <div class="progress-wrap progress" data-progress-percent="60">
                  <div class="progress-bar progress"></div>
                </div>
                <h6>Innovation</h6>
                <div class="progress-wrap progress" data-progress-percent="70">
                  <div class="progress-bar progress"></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="quotes">
      <div class="container">
        <blockquote class="bigger text-center"><em>There is no one born without a purpose <br>and<br>no one without a destiny to fulfill</em></blockquote>
      </div>
    </div>

    <section id="timeline">
      <div class="container">
        <h2 class="text-center">Timeline</h2>
        <hr>
      </div>

      <div id="cd-timeline" class="cd-container container">

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-born">
            <img src="/dist/images/timeline/born.svg" alt="img">
          </div>
          <div class="cd-timeline-content">
            <h2>Born</h2>
            <span class="cd-date"><strong>20th April</strong></span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-education">
            <img src="/dist/images/timeline/school-building.svg" alt="img">
          </div>
          <div class="cd-timeline-content">
            <h2>First Day At School</h2>
            <span class="cd-date"><strong>1995, 1<sup>st</sup> January</strong></span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-education">
            <img src="/dist/images/timeline/school.svg" alt="img">
          </div>
          <div class="cd-timeline-content">
            <h2>Graduated from High School</h2>
            <span class="cd-date"><strong>2007</strong></span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-education">
            <img src="/dist/images/timeline/college.svg" alt="img">
          </div>
          <div class="cd-timeline-content">
            <h2>Graduated from College</h2>
            <span class="cd-date"><strong>2009</strong></span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-electronic">
            <img src="/dist/images/timeline/electronic.svg" alt="img">
          </div>
          <div class="cd-timeline-content">
            <h2>Developed Home Automation Project Using Arduino</h2>
            <span class="cd-date"><strong>2014, February</strong></span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-education">
            <img src="/dist/images/timeline/university.svg" alt="img">
          </div>
          <div class="cd-timeline-content">
            <h2>Left BRAC Univerysity for Information Technology at UITS</h2>
            <span class="cd-date"><strong>2014, April</strong></span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-website">
            <img src="/dist/images/timeline/website.svg" alt="img">
          </div>
          <div class="cd-timeline-content">
            <h2>Started Web Development</h2>
            <span class="cd-date"><strong>2015</strong></span>
          </div>
        </div>
      </div>
    </section>

    <div class="quotes">
      <div class="container">
        <blockquote class="bigger text-center"><em>Design is not just what it looks like and feels like.<br>Design is how it works.</em></blockquote>
        <p class="medium text-right">- Steve Jobs</p>
      </div>
    </div>

    <section id="portfolio" class="text-center">
      <div class="container">
        <h2>Portfolio</h2>
        <hr>
          <div class="row">
            <div class="four columns">
              <a href="http://pjkssc.edu.bd/" target="_blank">
                <img src="dist/images/portfolio/pjkssc_resize.jpg" height="871" width="1280" alt="Pattashi Janakalyan Secondary School and College" class="img-responsive">
                <br>
                <h4>Pattashi Janakalyan Secondary School and College</h4>
                <a class="button button-primary" href="http://pjkssc.edu.bd/" target="_blank">Visit Site</a>
              </a>
            </div>
            <div class="four columns">
              <a href="http://pata.mdrakibkhan.com/" target="_blank">
                <img src="dist/images/portfolio/pata-online-resize.jpg" height="800" width="1280" alt="pata-online" class="img-responsive">
                <br>
                <h4>Pata Online Service <br>E-Commerce website of Md. Rakib Khan Production</h4>
                <a href="http://pata.mdrakibkhan.com/" class="button button-primary" target="_blank">Visit Site</a>
              </a>
            </div>
            <div class="four columns">
              <a href="http://canvasgrouponline.com/" target="_blank">
                <img src="dist/images/portfolio/canvas-group-online.png" height="800" width="1280" alt="canvas group online" class="img-responsive">
                <br>
                <h4>Canvas Group Online</h4>
                <a href="http://canvasgrouponline.com/" class="button button-primary" target="_blank">Visit Site</a>
              </a>
            </div>
          </div> <!-- end of first row -->

      </div> <!-- end of container -->
    </section>

    <!-- <div class="quotes">
      <div class="container">
        <blockquote class="bigger text-center"><em>You are the only person on earth who can use your ability</em></blockquote>
        <p class="medium text-right">- Zig Ziglar</p>
      </div>
    </div> -->

    <!-- <section id="testimonial" class="text-center">
      <div class="container">
        <h2>Testimonial</h2>
        <hr>
        <div class="row">

          <div class="six columns">
            <div class="box">
              <img class="img-responsive img-rounded" src="dist/images/testimonial/profile.png" height="128" width="128"></img>
              <h5>Raihan Uddin Ahmed</h5>
              <p>Assistant Professor &amp; Head of CSE &amp; IT, UITS</p>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi veniam, excepturi possimus molestias maiores at sunt, nesciunt earum facere, cumque et voluptatibus ipsum doloribus. Eius sit nulla dolorem qui.</p>
            </div>
          </div>

          <div class="six columns">
            <div class="box">
              <img class="img-responsive img-rounded" src="dist/images/testimonial/profile.png" height="128" width="128"></img>
              <h5>Al-Imtiaz</h5>
              <p>Lecturer &amp; Counselor, IEEE UITS Student Branch, UITS</p>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quos consequatur illo similique magnam totam eos illum deserunt, sunt. Animi enim quo obcaecati rem vel aperiam odio sequi officiis sit!</p>
            </div>
          </div>

        </div>   .row
      </div>  .container
    </section> -->

    <div class="quotes">
      <div class="container">
        <blockquote class="bigger text-center"><em>The best way to predict the future is to create it</em> </blockquote>
        <p class="medium text-right">- Abraham Lincoln</p>
      </div>
    </div>

    <section id="working-projects">
      <div class="container">
        <h2 class="text-center">Working Projects</h2>
        <hr>

        <div class="row">
          <div class="twelve columns">
            <h3>Hardware</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="four columns">
            <h4>Arduino Home Automation</h4>
            <img class="img-responsive" src="dist/images/working-projects/arduino-one.jpeg" height="711" width="1132" alt="arduino home automation">
            <p>My very first Arduino project controls my home with web based Arduino Home Automation system. Web server running on Ethernet Shield gives me almost total control over my room. </p>
            <a class="button button-primary" href="/wip/ArduinoHomeAutomation/" target="_blank">View Demo</a>
          </div>
        </div> <!-- end of first row -->

        <div class="row">
          <div class="twelve columns">
            <h3>Website Theme</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="four columns">
            <h4>Justice League</h4>
            <img class="img-responsive" src="dist/images/working-projects/law-one.jpeg" height="960" width="1280" alt="justice league law theme">
            <p>Law theme website.</p>
            <a class="button button-primary" href="/demo/justice-league/" target="_blank">View Demo</a>
          </div>
          <div class="four columns">
            <h4>Medic One</h4>
            <img class="img-responsive" src="dist/images/working-projects/medic-one.jpeg" height="960" width="1280" alt="medical website theme">
            <p>Medical theme website.</p>
            <a class="button button-primary" href="/demo/medic-one/" target="_blank">View Demo</a>
          </div>
          <div class="four columns">
            <h4>Arc One</h4>
            <img class="img-responsive" src="dist/images/working-projects/arc-one.jpg" height="960" width="1280" alt="architecture website theme">
            <p>Architectural theme website.</p>
            <a class="button button-primary" href="/demo/arc-one/" target="_blank">View Demo</a>
          </div>
        </div> <!-- end of first row -->

        <div class="row">
          <div class="twelve columns">
            <h3>Build System</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="four columns">
            <h4>Hybrid Skeleton</h4>
            <div class="github">
              <iframe src="https://ghbtns.com/github-btn.html?user=jobayerarman&repo=build-system-boilerplate-LESS&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
              <iframe src="https://ghbtns.com/github-btn.html?user=jobayerarman&repo=build-system-boilerplate-LESS&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
            </div>
            <br>
            <p>A dead simple front end build system boilerplate with lots of pre-loaded goodies.</p>
            <a class="button button-primary" href="/wip/HybridSkeleton/" target="_blank">View Details</a>
          </div>
          <div class="four columns">
            <h4>Build System Bootstrap</h4>
            <div class="github">
              <iframe src="https://ghbtns.com/github-btn.html?user=jobayerarman&repo=build-system-boilerplate-bootstrap&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
              <iframe src="https://ghbtns.com/github-btn.html?user=jobayerarman&repo=build-system-boilerplate-bootstrap&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
            </div>
            <br>
            <p>Front end build system boilerplate using Bootstrap LESS</p>
            <a class="button button-primary" href="//github.com/jobayerarman/build-system-boilerplate-bootstrap" target="_blank">View Details</a>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
