<!-- index.html -->
{% extends "layout.njk" %}

{% block content %}

{% include "sections/header.njk" %}
{% include "sections/about-me.njk" %}
{% include "sections/work-history.njk" %}
{% include "sections/contact.njk" %}

{% endblock %}
