<!-- index.html -->
{% extends "layout.njk" %}

  {% block content %}

    {% include "sections/header.njk" %}
    {% include "sections/profile.njk" %}
    {% include "sections/skills.njk" %}
    {% include "sections/timeline.njk" %}
    {% include "sections/portfolio.njk" %}
    {% include "sections/working-project.njk" %}

  {% endblock %}
