footer {
	height: 80px;
	padding-top: 50px;

  h6 {
    color: @white;
  }
}

#scroll-top {
	position: fixed;
	z-index: 2;
	right: 2%;
	bottom: 4%;

	display: none;

	a {
		padding: 15px;

		transition: all 0.2s ease-in-out;
		text-align: center;

		color: @green-sea;
		border-radius: 100%;
		background: @emerald;

		&:hover,
		&:focus {
			color: @belize-hole;
		}
	}
}
