<section id="about-me">
  <div class="container">
    <h2 class="section-title">About Me</h2>
    <hr>
    <div class="row">
      <div class="offset-by-two eight columns text-justify">
        <p>Hello, my name is Jobayer and I am passionate about streamlining problem-solving. My interest in web
          development began in 2012 when I started developing websites in WordPress CMS. I later worked as a Web
          Developer Executive at Innovi, where I registered and managed domain names, developed websites, and optimized
          them for search engines. At CML Consolidation and Logistics Services Ltd. as an IT Executive, I achieved the
          CargoWise Certified Professional certificate and implemented CargoWise One, including document templates and
          shipment logging. I also managed operational features and improved performance through application
          development. Currently, I work as a Senior Executive, ERP Administration at EUR Service BD Ltd., where I
          streamline business procedures, design workflows, and train users.</p>
        <p>My experience has given me in-depth knowledge of web development and logistics processes, as well as valuable
          project management and problem-solving skills. I am a quick learner and enjoy staying up-to-date with the
          latest industry trends and technologies. My goal is to utilize my skills and knowledge to contribute to the
          success of any team or organization I am a part of.</p>
        <p>Here are a few technologies I’ve been working with recently:</p>
        <div class="row text-center">
          <div class="col-md-6">
            <h6>Business Process</h6>
            <ul class="list-inline skill-lists">
              <li>CargoWise One</li>
              <li>BPMN</li>
              <li>Asana</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h6>Web Developement</h6>
            <ul class="list-inline skill-lists">
              <li>JavaScript (ES6+)</li>
              <li>Node.js</li>
              <li>WordPress</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </hr>
  </div> <!-- end of container -->
</section>
