<section id="about-me">
  <div class="container">
    <h2 class="section-title">About Me</h2>
    <hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-justify">
        <p>Hi, I'm Jobaer Arman, a results-driven Senior Executive in ERP Administration with extensive experience in
          the Freight Forwarding industry. With my expertise in Freight Forwarding and CargoWise One Certification, I
          have successfully created and implemented optimized CargoWise workflows that automate and streamline
          repetitive operational tasks. Over the course of my career, I have continually developed and refined my
          skills, earning a reputation as a collaborative team member who consistently delivers innovative solutions to
          complex challenges. I'm excited to bring my expertise to a new challenge and drive business growth and
          success.</p>
        <p>In my current role as a Senior Executive at EUR Service BD Ltd., I have been responsible for the optimization
          of the company's export, import, and accounts departments. Using BPMN charts, I conducted a comprehensive
          analysis of standard business procedures, identifying areas where process optimization was necessary. I then
          designed and implemented CargoWise workflows, which streamlined repetitive operational tasks, resulting in
          improved productivity and reduced inter-department communication. To ensure seamless adoption and optimal
          utilization of systems, I provided extensive training to new and existing users on system usage and new
          functionalities.</p>
        <p>During my time at CML Consolidation and Logistics Services Ltd., I earned the highly regarded CargoWise
          Certified Professional certificate and implemented CargoWise One to automate and streamline logistics
          processes. WiseTech Global is the leader in global logistics technology, and their CargoWise One platform has
          become the industry standard for Freight Forwarding. I played a crucial role in providing technical support
          and training to team members, resolving system-related issues, and facilitating smooth operations.</p>
        <p>My previous role as a Web Developer Executive at Innovi, where I began my career in 2016, allowed me to
          develop a strong foundation in problem-solving through website development, search engine optimization, and
          graphical content design.</p>
        <p>With my extensive experience in logistics processes, project management, and problem-solving skills, I am
          highly suited to roles in the Freight Forwarding industry. Furthermore, my CargoWise One Certification and
          expertise in BPMN enable me to add value to any organization looking to optimize their logistics processes.
        </p>
        <p>As a quick learner, adaptable, and passionate individual, I remain up-to-date with the latest industry trends
          and technologies. I believe in leveraging my skills and knowledge to drive business growth and success. If
          you're seeking a team member with a strong background in CargoWise, Freight Forwarding, BPMN, and process
          optimization, look no further than Jobaer Arman.</p>
        <p>Here are a few technologies I've been working with recently:</p>
        <div class="row text-center">
          <div class="col-xs-6">
            <h6>Business Process</h6>
            <ul class="list-inline skill-lists">
              <li>CargoWise One</li>
              <li>BPMN</li>
              <li>Asana</li>
            </ul>
          </div>
          <div class="col-xs-6">
            <h6>Web Developement</h6>
            <ul class="list-inline skill-lists">
              <li>JavaScript (ES6+)</li>
              <li>Node.js</li>
              <li>React</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </hr>
  </div> <!-- end of container -->
</section>
