<section id="work-history">
  <div class="container">
    <h2 class="section-title">Get In Touch</h2>
    <hr>
    <div class="row">
      <div class="four columns"></div>
      <div class="four columns"></div>
      <div class="four columns"></div>
    </div>
    </hr>
  </div> <!-- end of container -->
</section>
