    <header id="site-header">
      <div class="gradient">

        <nav id="navigation" class="text-center">

          <div id="main-navbar" class="navbar-main">
            <ul class="page-scroll">
              <li><a class="medium" href="#feature">Profile</a></li>
              <li><a class="medium" href="#skills">Skills</a></li>
              <li><a class="medium" href="#timeline">Timeline</a></li>
              <li><a class="medium" href="#portfolio">Portfolio</a></li>
              <!-- <li><a class="medium" href="#testimonial">Testimonial</a></li> -->
              <li><a class="medium" href="#working-projects">Working Projects</a></li>
            </ul>
          </div>

          <div id="toggle-navbar" class="navbar-toggle">
            <div class="bar"></div>
          </div>

          <div id="mobile-navbar" class="navbar-mobile"></div>
        </nav>

        <div class="container text-center top-fix">
          <div class="row">
            <div class="twelve columns">

              <div class="title">
                <img src="/dist/images/avatar01.jpg" class="img-circle img-thumbnail" alt="Jobayer Arman" role="presentation">
                <h1>Jobayer Arman</h1>
                <div class="typed-animation">
                  <h2 style="white-space:pre-line;">I <span class="role"></span> </h2>
                </div>
              </div>

              <div class="social">
                <a id="github" href="https://github.com/jobayerarman" target="_blank">
                  <i class="fa fa-2x fa-github"></i>
                  <div class="hoverLayer github"></div>
                </a>
                <a id="twitter" href="https://twitter.com/jobayerarman" target="_blank">
                  <i class="fa fa-2x fa-twitter"></i>
                  <div class="hoverLayer twitter"></div>
                </a>
                <a id="linkedIn" href="https://linkedin.com/pub/jobayer-arman/6b/635/67a" target="_blank">
                  <i class="fa fa-2x fa-linkedin"></i>
                  <div class="hoverLayer linkedIn"></div>
                </a>
                <a id="facebook" href="https://facebook.com/1319750070" target="_blank">
                  <i class="fa fa-2x fa-facebook"></i>
                  <div class="hoverLayer facebook"></div>
                </a>
              </div>

            </div> <!-- end of columns -->
          </div> <!-- end of row -->
        </div> <!-- end of container -->
      </div> <!-- end of gradient -->
      <div class="nav-down page-scroll">
        <a href="#feature"><img class="center-block" src="dist/images/down-arrow.png" alt=""></a>
      </div>
    </header>
