<section id="portfolio" class="text-center">
  <div class="container">
    <h2>Portfolio</h2>
    <hr>
      <div class="row">
        <div class="four columns">
          <a href="http://pjkssc.edu.bd/" target="_blank">
            <img src="dist/images/portfolio/pjkssc_resize.jpg" height="871" width="1280" alt="Pattashi Janakalyan Secondary School and College" class="img-responsive">
            <br>
            <h4>Pattashi Janakalyan Secondary School and College</h4>
            <a class="button button-primary" href="http://pjkssc.edu.bd/" target="_blank">Visit Site</a>
          </a>
        </div>
        <div class="four columns">
          <a href="http://pata.mdrakibkhan.com/" target="_blank">
            <img src="dist/images/portfolio/pata-online-resize.jpg" height="800" width="1280" alt="pata-online" class="img-responsive">
            <br>
            <h4>Pata Online Service <br>E-Commerce website of Md. Rakib Khan Production</h4>
            <a href="http://pata.mdrakibkhan.com/" class="button button-primary" target="_blank">Visit Site</a>
          </a>
        </div>
        <div class="four columns">
          <a href="http://canvasgrouponline.com/" target="_blank">
            <img src="dist/images/portfolio/canvas-group-online.png" height="800" width="1280" alt="canvas group online" class="img-responsive">
            <br>
            <h4>Canvas Group Online</h4>
            <a href="http://canvasgrouponline.com/" class="button button-primary" target="_blank">Visit Site</a>
          </a>
        </div>
      </div> <!-- end of first row -->

  </div> <!-- end of container -->
</section>
