<section id="feature" class="text-center">
  <div class="container">
    <h2>What I Do</h2>
    <hr>
    <div class="row">
      <div class="one-third column">
        <img class="img-responsive" src="dist/images/responsive-website.png" height="525" width="700" alt="responsive-website">
        <h4>Responsive Website</h4>
        <p>I am Jobayer Arman and I am passionate about everything related to web development. I follow-up on the most recent changes in web development and I am very active in the open source environment. I love to experiment and try new things.</p>
      </div>
      <div class="one-third column page-scroll">
        <img class="img-responsive" src="dist/images/electronic-project.png" height="525" width="700" alt="Hardware Project">
        <h4>Hardware Project</h4>
        <p>I loved electronics since my childhood. Since my childhood I have tried to set chemistry between electronics and create new interactive hardware. I have been working with Arduino booard. I have a <a href="#working-projects">Home Automation project</a> that is capable of making ones daily life more easier.</p>
      </div>
      <div class="one-third column">
        <img class="img-responsive" src="dist/images/graphics-design2.png" height="525" width="700" alt="Web Design">
        <h4>Graphics Design</h4>
        <p>Photography, graphics is my hobby. I love creating new image merging multiple images or manipulating single one. I have worked as a image post-processor for about six months. I feel comfortable with Adobe Lightroom &amp; Photoshop.</p>
      </div>
    </div>
  </div>
</section>
