<section id="skills">
  <div class="container">
    <h2 class="text-center">Skills</h2>
    <hr>
    <div class="row ">
      <div class="twelve columns">
        <h4 class="text-center">Programming / Graphics</h4>
        <div class="row">

          <div class="six columns">

            <h6>WordPress</h6>
            <div class="progress-wrap progress" data-progress-percent="40">
              <div class="progress-bar progress"></div>
            </div>

            <h6>PHP</h6>
            <div class="progress-wrap progress" data-progress-percent="30">
              <div class="progress-bar progress"></div>
            </div>

            <h6>HTML</h6>
            <div class="progress-wrap progress" data-progress-percent="70">
              <div class="progress-bar progress"></div>
            </div>

            <h6>CSS</h6>
            <div class="progress-wrap progress" data-progress-percent="70">
              <div class="progress-bar progress"></div>
            </div>

            <h6>jQuery</h6>
            <div class="progress-wrap progress" data-progress-percent="35">
              <div class="progress-bar progress"></div>
            </div>

          </div>

          <div class="six columns">
            <h6>Java</h6>
            <div class="progress-wrap progress" data-progress-percent="25">
              <div class="progress-bar progress"></div>
            </div>

            <h6>C / C++</h6>
            <div class="progress-wrap progress" data-progress-percent="30">
              <div class="progress-bar progress"></div>
            </div>

            <h6>Photoshop</h6>
            <div class="progress-wrap progress" data-progress-percent="80">
              <div class="progress-bar progress"></div>
            </div>

            <h6>Lightroom</h6>
            <div class="progress-wrap progress" data-progress-percent="85">
              <div class="progress-bar progress"></div>
            </div>

            <h6>Illustrator</h6>
            <div class="progress-wrap progress" data-progress-percent="40">
              <div class="progress-bar progress"></div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <h4 class="text-center">Social</h4>
        <div class="row">

          <div class="six columns">
            <h6>Communication</h6>
            <div class="progress-wrap progress" data-progress-percent="40">
              <div class="progress-bar progress"></div>
            </div>
            <h6>Organization</h6>
            <div class="progress-wrap progress" data-progress-percent="60">
              <div class="progress-bar progress"></div>
            </div>
            <h6>Learning</h6>
            <div class="progress-wrap progress" data-progress-percent="80">
              <div class="progress-bar progress"></div>
            </div>
            <h6>Teaching</h6>
            <div class="progress-wrap progress" data-progress-percent="75">
              <div class="progress-bar progress"></div>
            </div>
          </div>

          <div class="six columns">
            <h6>Collaboration</h6>
            <div class="progress-wrap progress" data-progress-percent="50">
              <div class="progress-bar progress"></div>
            </div>
            <h6>Management</h6>
            <div class="progress-wrap progress" data-progress-percent="40">
              <div class="progress-bar progress"></div>
            </div>
            <h6>Planning</h6>
            <div class="progress-wrap progress" data-progress-percent="60">
              <div class="progress-bar progress"></div>
            </div>
            <h6>Innovation</h6>
            <div class="progress-wrap progress" data-progress-percent="70">
              <div class="progress-bar progress"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
