<!-- <section id="testimonial" class="text-center">
  <div class="container">
    <h2>Testimonial</h2>
    <hr>
    <div class="row">

      <div class="six columns">
        <div class="box">
          <img class="img-responsive img-rounded" src="dist/images/testimonial/profile.png" height="128" width="128"></img>
          <h5>Raihan Uddin Ahmed</h5>
          <p>Assistant Professor &amp; Head of CSE &amp; IT, UITS</p>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi veniam, excepturi possimus molestias maiores at sunt, nesciunt earum facere, cumque et voluptatibus ipsum doloribus. Eius sit nulla dolorem qui.</p>
        </div>
      </div>

      <div class="six columns">
        <div class="box">
          <img class="img-responsive img-rounded" src="dist/images/testimonial/profile.png" height="128" width="128"></img>
          <h5>Al-Imtiaz</h5>
          <p>Lecturer &amp; Counselor, IEEE UITS Student Branch, UITS</p>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quos consequatur illo similique magnam totam eos illum deserunt, sunt. Animi enim quo obcaecati rem vel aperiam odio sequi officiis sit!</p>
        </div>
      </div>

    </div>   .row
  </div>  .container
</section> -->
