<section id="timeline">
  <div class="container">
    <h2 class="text-center">Timeline</h2>
    <hr>

    <div id="cd-timeline" class="cd-container">

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-born">
          <img src="/dist/images/timeline/born.svg" alt="img">
        </div>
        <div class="cd-timeline-content">
          <h2>Born</h2>
          <span class="cd-date"><strong>20th April</strong></span>
        </div>
      </div>

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-education">
          <img src="/dist/images/timeline/school-building.svg" alt="img">
        </div>
        <div class="cd-timeline-content">
          <h2>First Day At School</h2>
          <span class="cd-date"><strong>1995, 1<sup>st</sup> January</strong></span>
        </div>
      </div>

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-education">
          <img src="/dist/images/timeline/school.svg" alt="img">
        </div>
        <div class="cd-timeline-content">
          <h2>Graduated from High School</h2>
          <span class="cd-date"><strong>2007</strong></span>
        </div>
      </div>

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-education">
          <img src="/dist/images/timeline/college.svg" alt="img">
        </div>
        <div class="cd-timeline-content">
          <h2>Graduated from College</h2>
          <span class="cd-date"><strong>2009</strong></span>
        </div>
      </div>

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-electronic">
          <img src="/dist/images/timeline/electronic.svg" alt="img">
        </div>
        <div class="cd-timeline-content">
          <h2>Developed Home Automation Project Using Arduino</h2>
          <span class="cd-date"><strong>2014, February</strong></span>
        </div>
      </div>

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-education">
          <img src="/dist/images/timeline/university.svg" alt="img">
        </div>
        <div class="cd-timeline-content">
          <h2>Left BRAC Univerysity for Information Technology at UITS</h2>
          <span class="cd-date"><strong>2014, April</strong></span>
        </div>
      </div>

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-website">
          <img src="/dist/images/timeline/website.svg" alt="img">
        </div>
        <div class="cd-timeline-content">
          <h2>Started Web Development</h2>
          <span class="cd-date"><strong>2015</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>
