<section id="work-history">
  <div class="container">
    <h2 class="section-title">Where I’ve Worked</h2>
    <hr>
    <div class="row">
      <div class="offset-by-two eight columns text-justify">
        <ul class="list-unstyled">
          <li>
            <h3 class="text-peter-river mb-2">Senior Executive, ERP Administration</h3>
            <h6 class="job-title">EUR Service BD Ltd. <span class="job-date">July 2022 - Present</span></h6>
            <ul class="services-list">
              <li>Performed comprehensive analysis of the export, import, and accounts department, utilizing Business
                Process Model and Notation (BPMN) charts to depict standard business procedures, and identify areas for
                process optimization, resulting in improved operational efficiency
              </li>
              <li>Attained CargoWise Certified Professional certification, leading to a 5% discount on monthly invoices
                and establishing the company as a CargoWise Certified Logistics Partner (CCLP)</li>
              <li>Designed and implemented optimized CargoWise workflows to automate and streamline repetitive
                operational tasks, reducing inter-department communication and increasing productivity
              </li>
              <li>Streamlined auto-rating, accounts receivable, and payable processes by creating tariffs and uploading
                rates into the CargoWise system
              </li>
              <li>Provided comprehensive training to new and existing users on system usage and new functionalities,
                ensuring smooth adoption and optimal utilization of systems
              </li>
              <li>Generated and submitted monthly reports to management, utilizing new report templates to effectively
                communicate critical information</li>
              <li>Managed user access to CargoWise One by creating and assigning department and responsibility-based
                security rights to new user profiles
              </li>
              <li>Created and customized various document templates using CargoWise One docBuilder, including arrival
                notices, shipment packs, pre-alerts, and other doc-packs, leveraging deep expertise in CargoWise One
                macro and docBuilder engine
              </li>
              <li>Established and maintained a KPI system utilizing CargoWise workflow exception reporting tool to
                support the accounts department in achieving CargoWise One month-end GL closing workflow
              </li>
            </ul>
          </li>
          <li>
            <h3 class="text-peter-river mt-5 mb-2">System Support Executive</h3>
            <h6 class="job-title">CML Consolidation and Logistics Services Ltd. <span class="job-date">Nov 2018 - June
                2022</span></h6>
            <ul class="services-list">
              <li>Achieved CargoWise Certified Professional certification, resulting in a 10% discount on monthly
                invoices and qualifying the company as a CargoWise Certified Logistics Partner (CCLP)
              </li>
              <li>Developed and updated document templates (HBL, FCR, Invoice, POD, etc.) in CargoWise One, eliminating
                the need for manual documentation and reducing paper usage significantly
              </li>
              <li>Facilitated timely shipment logging to enable customers to track their shipments on the company's
                website
              </li>
              <li>Oversaw the identification, management, and implementation of features in CargoWise to improve
                operations and ensure business continuity
              </li>
              <li>Modified and developed applications and reports to enhance performance and data reliability
              </li>
              <li>Provided technical support and training to team members, assisting in the resolution of system-related
                issues and facilitating smooth operations</li>
            </ul>
          </li>
          <li>
            <h3 class="text-peter-river mt-5 mb-2">Web Developer Executive</h3>
            <h6 class="job-title">Innovi <span class="job-date">Oct 2016 - Aug 2018</span></h6>
            <ul class="services-list">
              <li>Collaborated with clients to identify and understand their specific website needs and requirements,
                providing tailored solutions and recommendations to achieve their goals</li>
              <li>Developed websites in WordPress CMS, with a focus on delivering seamless functionality and exceptional
                user experience</li>
              <li>Customized WordPress themes to meet clients' unique design requirements and branding, ensuring
                consistency with their overall brand identity</li>
              <li>Optimized WordPress websites for search engines, utilizing analytics and performance metrics to drive
                increased visibility, organic traffic, and ultimately, business growth</li>
              <li>Designed and created engaging graphical content for websites and social media, enhancing brand
                identity, promoting customer engagement, and increasing online presence</li>
              <li>Monitored website analytics and performance metrics, analyzed data, and implemented improvements to
                enhance user engagement, conversion rates, and overall website performance</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    </hr>
  </div> <!-- end of container -->
</section>
