<section id="work-history">
  <div class="container">
    <h2 class="section-title">Where I’ve Worked</h2>
    <hr>
    <div class="row">
      <div class="offset-by-two eight columns text-justify">
        <ul class="list-unstyled">
          <li>
            <h3>Senior Executive, ERP Administration</h3>
            <h6 class="job-title">EUR Service BD Ltd. <span class="job-date">July 2022 - Present</span></h6>
            <ul class="services-list">
              <li>Studying export, import & accounts department and creating BPMN charts to help the management
                visualize and optimize the standard business procedure
              </li>
              <li>Designing CargoWise workflows to optimize and automate operational repetitive tasks to increase
                productivity. I create workflow milestones and an automatic notification system that reduces
                inter-department communication
              </li>
              <li>Creating tariffs and upload rates into the Cargowise system to streamline auto-rating, accounts
                receivable, and payable
              </li>
              <li>Training new and existing users on new unique aspects or systems usage and rolling out new system
                functionality
              </li>
              <li>Creating new report templates and providing monthly reports to management</li>
              <li>Setting up new user profiles in CargoWise One and assigning security rights based on department and
                responsibility
              </li>
              <li>Creating different document templates using CargoWise One docBuilder. I have achieved in-depth
                knowledge of CargoWise One macro and the docBuilder engine. I make doc-packs like arrival notices,
                shipment packs, pre-alerts, etc.
              </li>
              <li>Implementing and maintaining a KPI system using the CargoWise workflow exception reporting tool. It is
                done monthly to help the accounts department maintain the CargoWise One month-end GL closing workflow
              </li>
            </ul>
          </li>
          <li>
            <h3>System Support Executive</h3>
            <h6 class="job-title">CML Consolidation and Logistics Services Ltd. <span class="job-date">Nov 2018 - June
                2022</span></h6>
            <ul class="services-list">
              <li>Achieved CargoWise Certified Professional certificate which allowed the company to apply for a 10%
                discount on the CargoWise monthly invoice and become CargoWise Certified Logistics Partner (CCLP)
              </li>
              <li>Add and update document templates (HBL, FCR, Invoice, POD, etc.) required per organization into
                CargoWise One; eliminating the manual documentation process and thus drastically reducing the use of
                paper
              </li>
              <li>Ensure timely logging of shipments into the system to provide customers with the ability to trace
                their shipments on our website
              </li>
              <li>Responsible for the identification, management, and execution of features within CargoWise which will
                deliver operational improvement and business continuity
              </li>
              <li>Developed and modified reports and applications to improve performance and data reliability
              </li>
            </ul>
          </li>
          <li>
            <h3>Web Developer Executive</h3>
            <h6 class="job-title">Innovi <span class="job-date">Oct 2016 - Aug 2018</span></h6>
            <ul class="services-list">
              <li>Registering and managing domain names</li>
              <li>Website development in WordPress CMS</li>
              <li>Custom theme development for the WordPress</li>
              <li>Search engine optimization of the WordPress websites</li>
              <li>Designing & creating graphical content for websites &amp; social media</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    </hr>
  </div> <!-- end of container -->
</section>
