<section id="working-projects">
  <div class="container">
    <h2 class="text-center">Working Projects</h2>
    <hr>

    <div class="row">
      <div class="twelve columns">
        <h3>Hardware</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="four columns">
        <h4>Arduino Home Automation</h4>
        <img class="img-responsive" src="dist/images/working-projects/arduino-one.jpg" alt="arduino home automation">
        <p>My very first Arduino project controls my home with web based Arduino Home Automation system. Web server running on Ethernet Shield gives me almost total control over my room. </p>
        <a class="button button-primary" href="/wip/ArduinoHomeAutomation/" target="_blank">View Demo</a>
      </div>
    </div> <!-- end of first row -->

    <div class="row">
      <div class="twelve columns">
        <h3>Website Theme</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="four columns">
        <h4>Justice League</h4>
        <img class="img-responsive" src="dist/images/working-projects/law-one.jpg" alt="justice league law theme">
        <p>Law theme website.</p>
        <a class="button button-primary" href="/demo/justice-league/" target="_blank">View Demo</a>
      </div>
      <div class="four columns">
        <h4>Medic One</h4>
        <img class="img-responsive" src="dist/images/working-projects/medic-one.jpg" alt="medical website theme">
        <p>Medical theme website.</p>
        <a class="button button-primary" href="/demo/medic-one/" target="_blank">View Demo</a>
      </div>
      <div class="four columns">
        <h4>Arc One</h4>
        <img class="img-responsive" src="dist/images/working-projects/arc-one.jpg" alt="architecture website theme">
        <p>Architectural theme website.</p>
        <a class="button button-primary" href="/demo/arc-one/" target="_blank">View Demo</a>
      </div>
    </div> <!-- end of first row -->

    <div class="row">
      <div class="twelve columns">
        <h3>Build System</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="four columns">
        <h4>Hybrid Skeleton</h4>
        <div class="github">
          <iframe src="https://ghbtns.com/github-btn.html?user=jobayerarman&repo=build-system-boilerplate-LESS&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          <iframe src="https://ghbtns.com/github-btn.html?user=jobayerarman&repo=build-system-boilerplate-LESS&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
        </div>
        <br>
        <p>A dead simple front end build system boilerplate with lots of pre-loaded goodies.</p>
        <a class="button button-primary" href="/wip/HybridSkeleton/" target="_blank">View Details</a>
      </div>
      <div class="four columns">
        <h4>Build System Bootstrap</h4>
        <div class="github">
          <iframe src="https://ghbtns.com/github-btn.html?user=jobayerarman&repo=build-system-boilerplate-bootstrap&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          <iframe src="https://ghbtns.com/github-btn.html?user=jobayerarman&repo=build-system-boilerplate-bootstrap&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
        </div>
        <br>
        <p>Front end build system boilerplate using Bootstrap LESS</p>
        <a class="button button-primary" href="//github.com/jobayerarman/build-system-boilerplate-bootstrap" target="_blank">View Details</a>
      </div>
    </div>
  </div>
</section>
